<div class="max-w-lg mx-auto">
    <nz-alert nzType="info" nzMessage="Informational Notes" nzShowIcon></nz-alert>
    <nz-descriptions class="py-3" nzTitle="Service info" nzBordered [nzColumn]="1">
        <nz-descriptions-item nzTitle="Name">Cloud Database</nz-descriptions-item>
        <nz-descriptions-item nzTitle="Description">Prepaid</nz-descriptions-item>
        <nz-descriptions-item nzTitle="Min">10$</nz-descriptions-item>
        <nz-descriptions-item nzTitle="Max Time">20$</nz-descriptions-item>
        <nz-descriptions-item nzTitle="Available">Yes</nz-descriptions-item>
      </nz-descriptions>
</div>