<div class="flex items-end justify-between">
  <h4 class="text-primary uppercase">Logged in as {{ role }}</h4>
  <div>
    <nz-badge nzDot class="align-middle mr-7 text-gray-500 cursor-pointer" nzTooltipTitle="You have new notification" nzTooltipPlacement="topCenter" nz-tooltip>
      <i nz-icon nzType="bell" nzTheme="fill" style="font-size: 1.6em;"></i>
    </nz-badge>
    <ng-container>
      <nz-avatar
        class="cursor-pointer"
        nzIcon="user"
        [ngStyle]="{ 'background-color': '#1DA57A' }"
        nz-dropdown
        [nzDropdownMenu]="menu"
        [nzClickHide]="false"
        [nzPlacement]="'bottomRight'"
      ></nz-avatar>
      <nz-dropdown-menu #menu="nzDropdownMenu">
        <ul nz-menu>
          <li nz-menu-item>
            <span>
              <i nz-icon nzType="key" nzTheme="outline"></i>
              Change password</span
            >
          </li>
          <li nz-menu-item nzDanger (click)="logout()">
            <span>
              <i nz-icon nzType="logout" nzTheme="outline"></i>
              Logout
            </span>
          </li>
        </ul>
      </nz-dropdown-menu>
    </ng-container>
  </div>
</div>
