<div >
    <div>
      <div class="flex justify-between">
        <app-page-title title="Voucher request"></app-page-title>
        <nz-badge [nzCount]="getSelectedFilterNumbers()">
          <button
            nz-button
            nz-dropdown
            nzType="primary"
            [nzDropdownMenu]="filter"
            [nzClickHide]="false"
            [(nzVisible)]="filterVisible"
            nzTrigger="click"
            [nzPlacement]="'bottomRight'"
          >
            <i nz-icon nzType="filter" nzTheme="outline"></i>
          </button>
        </nz-badge>
      </div>
    </div>
    <div>
      <nz-table #basicTable [nzData]="request">
        <thead>
          <tr>
            <th>#</th>
            <th>Email</th>
            <th>Type</th>
            <th>Note</th>
            <th>Create</th>
            <th>Status</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let data of basicTable.data">
            <td>{{ data.id }}</td>
            <td>{{ data.name }}</td>
            <td>{{ data.type }}</td>
            <td>{{ data.worth }}</td>
            <td>{{ data.createAt }}</td>
            <td>{{ data.createAt }}</td>
            <td>
              <nz-tag nzColor="error" class="cursor-pointer" (click)="rejectRequest(data.id)">
                <i nz-icon nzType="delete" nzTheme="outline" ></i>
                <span>Delete</span>
              </nz-tag>
            </td>
          </tr>
        </tbody>
      </nz-table>
    </div>
    <nz-dropdown-menu #filter="nzDropdownMenu">
      <ul nz-menu>
        <li nz-menu-item >
          <nz-space [nzDirection]="'vertical'">
              <nz-checkbox-group [(ngModel)]="selected"></nz-checkbox-group>
          </nz-space>
        </li>
        <li class="flex justify-between items-end gap-x-1 px-2 py-2 gap-2">
          <button nz-button nzType="nzGhost" nzSize="small" (click)="onClearFilter()">Clear filter</button>
          <button nz-button nzType="primary" nzSize="small" (click)="onApplyFilter()">Apply filter</button>
        </li>
      </ul>
    </nz-dropdown-menu>
  </div>
  