<div class="flex-grow h-full relative">
  <!-- <p class="bg-gray-800 min-h-full min-w-full">s</p> -->
  <video id="video" class="min-h-full min-w-full"></video>

 <div class="absolute top-0 left-0 w-full h-full flex items-center justify-center">
  <div class="w-350 h-350 border border-solid border-primary  "></div>
 </div>
 <!-- <div class="flex justify-center w-full gap-2 py-8">
  <button
    nz-button
    *ngIf="!!result"
    [disabled]="!result"
    (click)="commitVoucher()"
    nzSize="large"
  >
    Rescan
  </button>
  <button
    nz-button
    nzType="primary"
    [disabled]="!result"
    (click)="commitVoucher()"
    nzSize="large"
  >
    Done
  </button> -->
<!-- </div> -->

<!-- service info -->
<nz-modal
[(nzVisible)]="viewing"
nzTitle="Voucher id"
(nzOnCancel)="endView()"
>
<ng-container *nzModalContent>
  <input type="text" [(ngModel)]="voucherId" placeholder="xxx-xx"/>
</ng-container>
<div *nzModalFooter>
  <button nz-button nzType="primary" (click)="endView()">Claim</button>
</div>
</nz-modal>
</div>
