<div class="flex-grow h-full relative">
  <nz-spin [nzTip]="'Loading...'" [nzSpinning]="loading">
    <button
      class="bottom-9 right-0 absolute z-30 rounded-full"
      style="width: 80px; height: 80px"
      nz-button
      (click)="refresh()"
    >
      Refresh
    </button>
    <video id="video" class="h-full w-full"></video>

    <div
      class="
        absolute
        top-0
        left-0
        w-full
        h-full
        flex
        items-center
        justify-center
      "
    >
      <div class="w-350 h-350 border border-solid border-primary"></div>
    </div>
  </nz-spin>
</div>
