<div class="bg-white rounded-sm hover:shadow-app relative">
  <i
    style="background-color: #c9d8b6"
    class="absolute right-0 top-0 p-2 cursor-pointer hover:text-primary"
    (click)="openChildView()"
    nz-icon
    nzType="info-circle"
    nzTheme="outline"
  ></i>
  <div class="w-full h-350">
    <img
      src={{imgHost+service.thumbnail}}
      alt="There is some error loading thumbnail"
      class="object-cover w-full h-full"
    />
    <!-- <img
      src="https://source.unsplash.com/random?"
      alt=""
      class="object-cover w-full h-full"
    /> -->
  </div>
  <div class="flex flex-col">
    <div class="flex-grow flex-shrink w-full">
      <div class="p-4 flex flex-col">
        <h3>{{ service.name }}</h3>
        <p>{{ service.description }}</p>
        <h1>{{ service?.minValue | minMaxCurrency: service?.maxValue }}</h1>
      </div>
     
      <a
      [routerLink]="['../scanner', service.id]" [state]="service"
        class="
          bg-primary
          block
          cursor-pointer
          text-center
          py-4
          text-white
          uppercase
          font-medium
          hover:text-white
          text-base
        "
      >
        <span class="flex items-center justify-center gap-2">
          <span style="font-size: 1em"> Scan voucher </span>
          <i
            nz-icon
            nzType="scan"
            nzTheme="outline"
            style="font-size: 1.5em"
          ></i>
        </span>
      </a>
    </div>
  </div>
</div>
