<div
  class="
    bg-white
    border border-base-gray border-solid
    rounded-sm
    hover:shadow-app
    relative
  "
>
  <a
    class="absolute right-0 top-0 bg-white p-2 cursor-pointer"
    nz-dropdown
    [nzDropdownMenu]="more"
    nzTrigger="click"

    >More</a
  >
  <div class="w-full h-350 bg-primary"></div>
  <div class="flex flex-col">
    <div class="flex-grow flex-shrink w-full">
      <div class="p-4 flex flex-col">
        <h3>NET COMPANY</h3>
        <p>Lorem ipsum dolor sit amet</p>
        <h1>99 ~ 1000$</h1>
      </div>
      <div
        class="
          bg-primary
          cursor-pointer
          text-center
          py-4
          text-white
          uppercase
          font-medium
        "
        (click)="openChildView()"
      >
        View
      </div>
    </div>
  </div>

  <!-- more dropdown -->
  <nz-dropdown-menu #more="nzDropdownMenu">
    <ul nz-menu nzSelectable>
      <li nz-menu-item (click)="openChildEdit()">
        <i nz-icon style="font-size: large" nzType="edit" nzTheme="fill"> </i>
        Edit information
      </li>
      <li nz-menu-item nzDanger (click)="showDeleteConfirm()">
        <i nz-icon style="font-size: large" nzType="delete" nzTheme="fill"> </i
        >Delete pernamently
      </li>
    </ul>
  </nz-dropdown-menu>
</div>
