<div>
  <app-page-title title="Services"></app-page-title>

  <div class="mx-6 bg-white px-4 py-4">
    <!-- step -->
    <nz-steps [nzCurrent]="current">
      <nz-step
        *ngFor="let step of this.steps"
        [nzTitle]="step.title"
        [nzDescription]="step.description"
        [nzPercentage]="step.async ? step.percentage : null"
      ></nz-step>
    </nz-steps>

    <!-- content -->
    <!-- steps -->
    <div class="pt-12">
      <span [ngSwitch]="current">
        <ng-container *ngSwitchCase="0">
          <app-step-one></app-step-one>
        </ng-container>
        <ng-container *ngSwitchCase="1">
          <app-step-two></app-step-two
        ></ng-container>
        <ng-container *ngSwitchDefault>
          <app-step-three [status]="stepThreeStatus" ></app-step-three>
        </ng-container>
      </span>
    </div>

    <!-- navigating button -->
    <div class="flex justify-center gap-2" *ngIf="current < 2">
      <button
        nz-button
        nzType="primary"
        (click)="continue()"
        [nzLoading]="processing"
        *ngIf="current === 0"
      >
        <span>Next</span>
      </button>
      <div *ngIf="current === 1">
        <button nz-button class="mr-2" nzType="default" (click)="pre()">
          <span>Previous</span>
        </button>
        <button
          nz-button
          nzType="primary"
          (click)="createPackage()"
          [nzLoading]="processing"
        >
          <span>Confirm and create</span>
        </button>
      </div>
    </div>
  </div>
</div>
