<!-- left -->
<div class="mx-12 flex gap-12 pt-10">
  <!-- card top -->
  <div class="flex-grow ">
    <div class="grid grid-cols-3 gap-7 mb-14">
      <div class="rounded  px-3 py-5" style="background-color: #FFF7D6;">
        <div class="flex justify-between">
          <h2 class="uppercase mb-0 font-bold" style="color: #222">
            Support
          </h2>
          <!-- tag -->
          <span style="background-color:#FBE590;" class="flex items-center px-1 rounded">
            <p class="font-semibold mb-0 tracking-tight " style="color:#333 ;">+ 12%</p>
          </span>
        </div>

        <p class="font-semibold" style="color: rgb(66, 66, 66)">
          {{ "Compare with last month" | titleCase }}
        </p>
        <!-- chart -->
        <div style="height: 150px" class="bg-gray-300"></div>
        <div>
          <h2 class="font-black text-4xl mb-0">{{ 20000 | number }}</h2>
          <p class="text-gray-300 tracking-wide" style="color: rgb(66, 66, 66)">
            Support voucher created
          </p>
        </div>
      </div>
      <div class="rounded bg-gray-400 shadow px-3 py-5">
        <div class="flex justify-between">
          <h2 class="uppercase mb-0 font-bold" style="color: #222">
            Help
          </h2>
          <!-- tag -->
          <div class="bg-gray-500 w-1/3 h-full">
            <p class="text-gray-800 font-semibold">+ 12%</p>
          </div>
        </div>

        <p class="font-semibold" style="color: rgb(66, 66, 66)">
          {{ "Compare with last month" | titleCase }}
        </p>
        <!-- chart -->
        <div style="height: 150px" class="bg-gray-300"></div>
        <div>
          <h2 class="font-black text-4xl mb-0">{{ 20000 | number }}</h2>
          <p class="text-gray-300 tracking-wide" style="color: rgb(66, 66, 66)">
            Help voucher created
          </p>
        </div>
      </div>
      <div class="rounded bg-gray-400 shadow px-3 py-5">
        <div class="flex justify-between">
          <h2 class="uppercase mb-0 font-bold" style="color: #222">
            Urgent
          </h2>
          <!-- tag -->
          <div class="bg-gray-500 w-1/3 h-full">
            <p class="text-gray-800 font-semibold">+ 12%</p>
          </div>
        </div>

        <p class="font-semibold" style="color: rgb(66, 66, 66)">
          {{ "Compare with last month" | titleCase }}
        </p>
        <!-- chart -->
        <div style="height: 150px" class="bg-gray-300"></div>
        <div>
          <h2 class="font-black text-4xl mb-0">{{ 20000 | number }}</h2>
          <p class="text-gray-300 tracking-wide" style="color: rgb(66, 66, 66)">
            Urgent voucher created
          </p>
        </div>
      </div>
    </div>
    <!-- card bottom -->
    <div class="grid grid-cols-2 gap-10">
      <div class="bg-white px-3 py-5 "> 
          <div class="flex justify-between items-center">
            <h3 class="mb-6 text-xl font-bold">{{'Request history'|titlecase}}</h3>
            <nz-select nzPlaceHolder="6 Month" nzAllowClear>
              <nz-option
                [nzLabel]="'3 Month'"
                [nzValue]="'3 Month'"
                >
              </nz-option>
              <nz-option
                [nzLabel]="'6 Month'"
                [nzValue]="'6 Month'"
                >
              </nz-option>
              <nz-option
                [nzLabel]="'9 Month'"
                [nzValue]="'9 Month'"
                >
              </nz-option>
              <nz-option
                [nzLabel]="'12 Month'"
                [nzValue]="'12 Month'"
                >
              </nz-option>
            </nz-select>
          </div>
         
          <div>
            <h5 class="mb-0 tracking-tight font-semibold" style="color: #777">Request in January 2022</h5>
            <h2 class="font-bold">{{20000|number}} times</h2>
          </div>
          <div class="bg-gray-400 h-72"></div>
      </div>
      <div class="bg-gray-300 px-3 py-5 "> 
        <div class="flex justify-between items-center">
          <h3 class="mb-6 text-xl font-bold">{{'Request history'|titlecase}}</h3>
          <nz-select nzPlaceHolder="6 Month" nzAllowClear>
            <nz-option
              [nzLabel]="'3 Month'"
              [nzValue]="'3 Month'"
              >
            </nz-option>
            <nz-option
              [nzLabel]="'6 Month'"
              [nzValue]="'6 Month'"
              >
            </nz-option>
            <nz-option
              [nzLabel]="'9 Month'"
              [nzValue]="'9 Month'"
              >
            </nz-option>
            <nz-option
              [nzLabel]="'12 Month'"
              [nzValue]="'12 Month'"
              >
            </nz-option>
          </nz-select>
        </div>
       
        <div>
          <h5 class="mb-0 tracking-tight font-semibold" style="color: #777">Request in January 2022</h5>
          <h2 class="font-bold">{{20000|number}} times</h2>
        </div>
        <div class="bg-gray-400 h-72"></div>
    </div>
    </div>
  </div>

  <!-- right -->
  <div class="px-14 pr-20 border-0 border-solid border-l border-black">
    <!-- total number -->
    <div class="flex gap-4 items-center">
      <div class="bg-gray-500 p-3">
        <div class="bg-gray-600 h-6 w-6"></div>
      </div>
      <div>
        <h5 class="mb-0 tracking-tight font-bold" style="color: #777">
          {{ "TOTAL USER" | uppercase }}
        </h5>
        <h2
          class="font-bold mb-0 text-2xl leading-none"
          style="font-size: 1.6rem"
        >
          {{ "5596" | number }}
        </h2>
      </div>
    </div>
    <div class="py-16">
      <nz-divider></nz-divider>
    </div>
    <div class="flex flex-col gap-20">
      <div class="flex gap-4 items-center">
        <div class="bg-gray-500 p-3">
          <div class="bg-gray-600 h-6 w-6"></div>
        </div>
        <div>
          <h5 class="mb-0 tracking-tight font-bold" style="color: #777">
            {{ "TOTAL USER" | uppercase }}
          </h5>
          <h2
            class="font-bold mb-0 text-2xl leading-none"
            style="font-size: 1.6rem"
          >
            {{ "5596" | number }}
          </h2>
        </div>
      </div>

      <div class="flex gap-4 items-center">
        <div class="bg-gray-500 p-3">
          <div class="bg-gray-600 h-6 w-6"></div>
        </div>
        <div>
          <h5 class="mb-0 tracking-tight font-bold" style="color: #777">
            {{ "TOTAL USER" | uppercase }}
          </h5>
          <h2
            class="font-bold mb-0 text-2xl leading-none"
            style="font-size: 1.6rem"
          >
            {{ "5596" | number }}
          </h2>
        </div>
      </div>

      <div class="flex gap-4 items-center">
        <div class="bg-gray-500 p-3">
          <div class="bg-gray-600 h-6 w-6"></div>
        </div>
        <div>
          <h5 class="mb-0 tracking-tight font-bold" style="color: #777">
            {{ "TOTAL USER" | uppercase }}
          </h5>
          <h2
            class="font-bold mb-0 text-2xl leading-none"
            style="font-size: 1.6rem"
          >
            {{ "5596" | number }}
          </h2>
        </div>
      </div>
    </div>
  </div>
</div>
