<nz-spin [nzTip]="'Loading...'" [nzSpinning]="!invoiceDetail">
    <div *ngIf="!invoiceDetail" class="h-350"></div>
</nz-spin>
<nz-result
*ngIf="invoiceDetail"
nzStatus="success"
nzTitle="Package claimed"
nzSubTitle="'Order number: {{invoiceDetail.id}} Package is prepairing and will takes 1-5 minutes to arrive, please wait.'"
>
<div nz-result-content>
    <nz-descriptions nzTitle="Invoice detail">
        <nz-descriptions-item nzTitle="Citizen name">{{invoiceDetail.citizenName}}</nz-descriptions-item>
        <nz-descriptions-item nzTitle="Package name">{{invoiceDetail.servicePackage.name}}</nz-descriptions-item>
        <nz-descriptions-item nzTitle="From">{{invoiceDetail.servicePackage.dealer.name}}</nz-descriptions-item>
        <nz-descriptions-item nzTitle="Value">{{invoiceDetail.value}}</nz-descriptions-item>
    </nz-descriptions>
</div>   
<div nz-result-extra>
    <button nz-button  nzType="primary" (click)="destroyModal()">Scan again</button>
    <button nz-button (click)="backToSelectPackage()">Select package</button>
</div>
</nz-result>