<div>
 
    <app-page-title title="Voucher created"></app-page-title>
    <div >
      <nz-input-group class="max-w-3xl" [nzPrefix]="suffixIconSearch">
        <input type="text" nz-input placeholder="Search voucher by Id" />
      </nz-input-group>
      <ng-template #suffixIconSearch>
        <i nz-icon nzType="search"></i>
      </ng-template>

      
      <!-- <app-filter-voucher></app-filter-voucher> -->
      <button nz-button (click)="onFilterClick(true)" nzType="primary">
        <i nz-icon nzType="filter" nzTheme="outline"></i>
      </button>
    </div>
   
    <div *ngIf="filterVisible" class="py-2 pb-4">
     <div class="mb-2">
      <strong class="pr-4">Type:</strong>
      <nz-tag
        *ngFor="let s of status"
        nzMode="checkable"
        [nzChecked]="selectedStatus.indexOf(s) > -1"
        (nzCheckedChange)="handleStatusChange($event, s)"
      >
        {{ s }}
      </nz-tag>
     </div>
     <div> <strong class="pr-4">Status:</strong>
      <nz-tag
        *ngFor="let t of type"
        nzMode="checkable"
        [nzChecked]="selectedType.indexOf(t) > -1"
        (nzCheckedChange)="handleTypeChange($event, t)"
      >
        {{ t }}
      </nz-tag></div>
      <div class="mt-2">
        <button nz-button (click)="onFilterClick(false)" class="mr-2" nzSize="small">Cancel</button>
        <button nz-button nzType="primary" nzSize="small">Apply filter</button>
      </div>
    </div>
  <div>
    <nz-table #basicTable [nzData]="vouchers">
      <thead>
        <tr>
          <th>#</th>
          <th>Voucher id</th>
          <th>Type</th>
          <th>Value</th>
          <th>Status</th>
          <th>Start day</th>
          <th>End day</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let data of basicTable.data; let i = index">
          <td>{{ i + 1 }}</td>
          <td>{{ data.id }}</td>
          <td>{{ data.type }}</td>
          <td>{{ data.value }}</td>
          <td>{{ data.status }}</td>
          <td>{{ data.createdAt }}</td>
          <td>{{ data.validDate }}</td>
        </tr>
      </tbody>
    </nz-table>
  </div>

</div>
