<div>
  <app-page-title title="Voucher created"></app-page-title>
  <div class="m-6 py-6 bg-white px-2">
    <form
      nz-form
      [formGroup]="filter"
      (ngSubmit)="onFilter()"
      nzLayout="horizontal"
    >
      <div class="antform grid grid-cols-24 gap-4">
        <div class="col-span-6">
          <nz-form-item class="mb-0">
            <nz-form-label>Id</nz-form-label>
            <nz-form-control>
              <input
                type="text"
                nz-input
                placeholder="xxxxx-xxxx-xxxx-xxxx-xxxxxxxxxx"
                formControlName="name"
              />
            </nz-form-control>
          </nz-form-item>
        </div>
        <div class="col-span-4">
          <nz-form-item class="mb-0">
            <nz-form-label>Type</nz-form-label>
            <nz-form-control>
              <nz-select
                formControlName="type"
                nzPlaceHolder="All"
              >
                <nz-option nzValue="{{null}}" nzLabel="All"></nz-option>
                <nz-option
                  *ngFor="let item of type | keyvalue"
                  [nzValue]="item.value"
                  nzLabel="{{ item.key | titlecase }}"
                >
                </nz-option>
              </nz-select>
            </nz-form-control>
          </nz-form-item>
        </div>
        <div class="col-span-4">
          <nz-form-item class="mb-0">
            <nz-form-label>Status</nz-form-label>
            <nz-form-control>
              <nz-select
                formControlName="status"
                nzPlaceHolder="All"
              >
                <nz-option nzValue="{{null}}" nzLabel="All"></nz-option>
                <nz-option
                  *ngFor="let item of status | keyvalue"
                  [nzValue]="item.value"
                  nzLabel="{{ item.key | titlecase }}"
                >
                </nz-option>
              </nz-select>
            </nz-form-control>
          </nz-form-item>
        </div>
      </div>

      <div>
        <div nz-col [nzSpan]="24" class="text-right">
          <button nz-button [nzType]="'primary'" class="mr-2">Search</button>
          <button nz-button (click)="resetForm()">Clear</button>
        </div>
      </div>
    </form>
  </div>

  <!-- table -->
  <div class="mx-6">
    <nz-table #basicTable [nzData]="vouchers">
      <thead>
        <tr>
          <th>#</th>
          <th>Voucher id</th>
          <th>Type</th>
          <th>Value</th>
          <th>Status</th>
          <th>Start day</th>
          <th>End day</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let data of basicTable.data; let i = index">
          <td>{{ i + 1 + meta?.take * (page -1) }}</td>
          <p
            nz-typography
            nzCopyable
            [nzCopyTooltips]="'Copy voucher id'"
            [(nzContent)]="data.id"
          ></p>
          <td><app-v-type-tag [type]="data.type"></app-v-type-tag></td>
          <td>{{ data.value }}</td>
          <td><app-v-status-tag [status]="data.status"></app-v-status-tag></td>
          <td>{{ data.createdAt | date }}</td>
          <td>{{ data.validDate | date }}</td>
        </tr>
      </tbody>
    </nz-table>
  </div>
</div>
