<div >
    <div>
      <div class="flex justify-between">
        <app-page-title title="Voucher created"></app-page-title>
        <nz-badge [nzCount]="2">
          <button
            nz-button
            nz-dropdown
            nzType="primary"
            [nzDropdownMenu]="filter"
            [nzClickHide]="false"
            [(nzVisible)]="filterVisible"
            nzTrigger="click"
            [nzPlacement]="'bottomRight'"
          >
            <i nz-icon nzType="filter" nzTheme="outline"></i>
          </button>
        </nz-badge>
      </div>
    </div>
    <div>
      <nz-table #basicTable [nzData]="vouchers">
        <thead>
          <tr>
            <th>#</th>
            <th>Voucher id</th>
            <th>Type</th>
            <th>Value</th>
            <th>Status</th>
            <th>Valid until</th>
            <th>Create</th>

          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let data of basicTable.data">
            <td>{{ data.id }}</td>
            <td>{{ data.id }}</td>  
            <td>{{ data.type }}</td>
            <td>{{ data.value }}</td>
            <td>{{ data.status }}</td>
            <td>{{ data.validDate }}</td>
            <td>{{ data.createdAt }}</td>
            
          </tr>
        </tbody>
      </nz-table>
    </div>
    <nz-dropdown-menu #filter="nzDropdownMenu">
      <ul nz-menu>
        <li nz-menu-item >
          <nz-space [nzDirection]="'vertical'">
              <nz-checkbox-group [(ngModel)]="selected"></nz-checkbox-group>
          </nz-space>
        </li>
        <li class="flex justify-between items-end gap-x-1 px-2 py-2 gap-2">
          <button nz-button nzType="nzGhost" nzSize="small" (click)="onClearFilter()">Clear filter</button>
          <button nz-button nzType="primary" nzSize="small" (click)="onApplyFilter()">Apply filter</button>
        </li>
      </ul>
    </nz-dropdown-menu>
  </div>
  