<div>
  <div class="flex justify-between pt-3 pb-1 bg-white px-6">
   <div>
    <h1 class="mb-0">Select service</h1>
    <p class="text-lg">Select a service to scan or have a quick look at service information  <i nz-icon nzType="info-circle" nzTheme="outline"></i></p>
   </div>
   <img src="assets/card_title.png" width="160px" >
  </div>
  <div class="flex flex-wrap">
    <div class="p-4 w-1/3" *ngFor="let item of packages">
      <service-card
        [openView]="openView"
        [endView]="endView"
        [service]="item"
        
      ></service-card>
    </div>
  </div>


  <!-- service info -->
  <nz-modal
    [(nzVisible)]="viewing"
    nzTitle="Service info"
    (nzOnCancel)="endView()"
  >
    <ng-container *nzModalContent>
      <nz-descriptions class="py-3" nzBordered [nzColumn]="1">
        <!-- <nz-descriptions-item nzTitle="Id"></nz-descriptions-item> -->
        <nz-descriptions-item nzTitle="Name"
          >{{viewingPackage?.name |titleCase}}</nz-descriptions-item
        >
        <nz-descriptions-item nzTitle="Description"
        >{{viewingPackage?.description |titleCase}}</nz-descriptions-item
        >
        <nz-descriptions-item nzTitle="Min">{{viewingPackage?.minValue |currency}}</nz-descriptions-item>
        <nz-descriptions-item nzTitle="Max Time">{{viewingPackage?.maxValue |currency}}</nz-descriptions-item>
        <nz-descriptions-item nzTitle="In use">Yes</nz-descriptions-item>
        <nz-descriptions-item nzTitle="Created at"
          >{{viewingPackage?.createdAt|date}}</nz-descriptions-item
        >
      </nz-descriptions>
    </ng-container>
    <div *nzModalFooter>
      <button nz-button nzType="primary" (click)="endView()">Close</button>
    </div>
  </nz-modal>


</div>
