@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

body{
    background-color: black;
    max-width: 1440px;
    // max-height: 1024px;
    padding: 18px;
}