<div>
  <div class=" bg-white mb-6  pt-3 pb-1 px-6">
    <h1>Claimed voucher</h1>
  </div>

  <!-- filter -->
  <div class="m-6 py-6 bg-white px-2">
    <form nz-form [formGroup]="filter" (ngSubmit)="onFilter()" nzLayout="horizontal">
     <div nz-row [nzGutter]="16">
      <div nz-col nzSpan="12">
        <nz-form-item class="mb-0"   >
          <nz-form-label>Name</nz-form-label>
          <nz-form-control >
            <input type="text" nz-input placeholder="Citizen name" formControlName="citizenName">
          </nz-form-control>
        </nz-form-item>
      </div>
     
     </div>
     <div>
      <div nz-col [nzSpan]="24" class="text-right">
        <button nz-button [nzType]="'primary'" class="mr-2">Search</button>
        <button nz-button (click)="resetForm()">Clear</button>
       
      </div>
    </div>
    </form>
  </div>
  
  <div class="mx-6">
    <nz-table #basicTable  [nzData]="data"
    [nzPageSize]="meta?.take"
    [nzTotal]="meta?.itemCount"
    (nzPageIndexChange)="onPageIndexChange($event)"
    nzTableLayout="fixed"
    [nzLoading]="loading|async"
    >
        <thead>
          <tr>
            <th [width]="50">#</th>
            <th>Name</th>
            <th>Email</th>
            <th>Package name</th>
            <th>Value</th>
            <th>Time redeemed</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let data of basicTable.data; let i = index">
            <td >{{ i + 1 + meta?.take * (page - 1) }}</td>
            <td>{{data.citizenName}}</td>
            <td>{{data.citizenEmail}}</td>
            <td>{{data.servicePackage.name}}</td>
            <td>{{data.value | currency}}</td>
            <td>{{data.updatedAt|date}}</td>
            <td>
              <a (click)="openDetailForm(data)">Detail</a>
            </td>
          </tr>
        </tbody>
      </nz-table>
  </div>
  
  <!-- edit service -->
  <nz-modal
    [(nzVisible)]="detailVisible"
    nzTitle="Service editing"
    (nzOnCancel)="closeDetail()"
  >
    <ng-container *nzModalContent>
      <app-detail-form [data]="detail"></app-detail-form>
    </ng-container>

    <div *nzModalFooter>
      <button nz-button (click)="closeDetail()">Close</button>
    </div>
  </nz-modal>
</div>
