          <nz-descriptions class="p-3 mb-3 bg-white" nzTitle="Process payment?"  nzBordered [nzColumn]="1">
            <nz-descriptions-item nzTitle="Citizen name">{{checkoutInfo.citizen.name |titleCase}}</nz-descriptions-item>
            <nz-descriptions-item nzTitle="Phone number">{{checkoutInfo.citizen.phone }}</nz-descriptions-item>
            <nz-descriptions-item nzTitle="Package name">{{checkoutInfo.name |titleCase}}</nz-descriptions-item>
            <nz-descriptions-item nzTitle="Description">{{checkoutInfo.description |titleCase}}</nz-descriptions-item>
            <nz-descriptions-item nzTitle="Value">{{checkoutInfo.minValue | minMaxCurrency: checkoutInfo.maxValue }}</nz-descriptions-item>
          </nz-descriptions>

        <div *ngIf="!checkoutInfo">Loading..</div>