<div class="relative pb-12">
  <div>
    <div>
      <app-page-title title="Pending register"></app-page-title>
    </div>
    <div>
      <nz-table
        #basicTable
        [nzData]="registers"
        [nzPageSize]="meta?.take"
        [nzTotal]="meta?.itemCount"
        nzSize="middle"
        (nzPageIndexChange)="onPageIndexChange($event)"
        >
        <!-- (nzCurrentPageDataChange)="onCurrentPageDataChange($event)" -->
        <thead>
          <tr>
            <th
              [(nzChecked)]="checked"
              (nzCheckedChange)="onAllChecked($event)"
              [nzIndeterminate]="indeterminate"
            ></th>
            <th>Id</th>
            <th>Name</th>
            <th>National id</th>
            <th>Job</th>
            <th>Address</th>
            <th>Phone</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let data of basicTable.data">
            <td
              [nzChecked]="setOfCheckedId.has(data.id)"
              (nzCheckedChange)="onItemChecked(data.id, $event)"
            ></td>
            <td>{{ data.id }}</td>
            <td>{{ data.name }}</td>
            <td>{{ data.identify }}</td>
            <td>{{ data.job }}</td>
            <td>{{ data.address }}</td>
            <td>{{ data.phone }}</td>
            <td>
              <nz-tag
                nzColor="success"
                class="cursor-pointer"
                (click)="confirmAccept(data.id)"
              >
                <i nz-icon nzType="check" nzTheme="outline"></i>
                <span>Accept</span>
              </nz-tag>
              <nz-tag
                nzColor="error"
                class="cursor-pointer"
                (click)="confirmReject(data.id)"
              >
                <i nz-icon nzType="close" nzTheme="outline"></i>
                <span>Reject</span>
              </nz-tag>
            </td>
          </tr>
        </tbody>
      </nz-table>
    </div>
  </div>
  <div
    class="
      fixed
      flex
      justify-between
      items-center
      right-0
      bottom-0
      w-full
      bg-secondary
      shadow-app1
    "
    style="padding-left: 70px; padding-top: 0.4rem; padding-bottom: 0.4rem"
    *ngIf="setOfCheckedId.size > 0"
  >
    <p class="mb-0">
      Selected
      <span class="text-primary font-bold">{{ setOfCheckedId.size }}</span> rows
    </p>
    <div>
      <button nz-button class="mr-2 inline" >Reject selected</button>
      <button nz-button nzType="primary" class="inline" >Accept selected</button>
    </div>
  </div>
</div>
